body {
  background: #0b0b0b;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ff2a2a;
}

.heading {
  text-align: center;
}
.age-box {
  background: #1a1a1a;
  padding: 12px;
  text-align: center;
  border: 1px solid #ff2a2a;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #111;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 180px;         /* fixed height */
  object-fit: cover;     /* crop & maintain aspect ratio */
  display: block;
}

.card p {
  padding: 10px;
  text-align: center;
  font-size: 15px;
}




